:root{
--GrayDark: hsl(270, 9%, 17%);
--GrayMedium: hsl(273, 4%, 51%);
--GrayLight: hsl(0, 0%, 98%);
}
* {
    max-width: 100%;
    box-sizing: border-box;
}

body{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

#mobile-nav{
    display:inline-block;
    padding: 3px;
    align-content:end;
    border: solid black 2px;
}
#header-mobile-nav {
    padding: 24px 16px 16px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

#mobile-nav {
    font-size: 1em; 
    margin: 0 0.25em; 
    cursor: pointer;
}

#header-bottom-nav {
    background-color: var(--GrayDark);
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    width: 100%;
}

#header-bottom-nav a {
    font-size: 1.2em;
    display: block;
    padding: 20px;
    text-decoration:none;
    color: white;
    font-weight: 700;
    text-align: center;
    border: solid var(--GrayDark) 2px;
}

#header-bottom-nav .active, #header-bottom-nav a:hover {
    border: solid white 2px;
}
#jumbotron-text {
    padding: 100px 40px;
    text-align: center;
    background-color: var(--GrayDark);
    color: white;
}
#jumbotron-text h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
}
#jumbotron-text h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
}
#jumbotron-text p {
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 30px 0;
}
#family{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.btn {
    padding: 12px 24px 10px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
main {
    padding: 0 40px 50px;
    text-align: center;
    background-color: white;
    color: white;
}
main h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
    color: var(--GrayDark);
}
main h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
    color: var(--GrayDark);
}
main p {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 30px 0;
    color: var(--GrayMedium);
}
#about {
    margin: 0 auto 50px;
    text-align: center;
    background-color: var(--GrayDark);
    color: white;
    width: 90%;
    height: 100%;
    padding-bottom: 2em;
    padding: 50px 0 80px;
}
#about h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
}
#about h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
}
#about p {
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 30px 0;
}
footer {
    background-color: var(--GrayLight);
    text-align: center;
    padding: 100px 40px;
}

footer h3 {
    color: var(--GrayDark);
    margin: 20px 0;
}

footer a {
    color: var(--GrayMedium);
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}
footer a:hover {
    text-decoration: underline;
}
.logo{
    margin: 7px;
    color: var(--Graydark)
}
.line{
    border-bottom: 1px solid var(--GrayMedium);
    display:flex;
    margin: 50px 0;
}

@media only screen and (min-width: 768px) {
    
    #footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px; 
    }

    footer {
        text-align: left;
    }

    #footer-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 30px; 
    }
}

@media only screen and (min-width: 1024px) {
    
    #footer-bottom {
        grid-template-columns: repeat(4, 1fr); 
    }
}
